h1 {
    font-family: 'Pacifico', cursive;
    line-height: 1.3 !important;
}

/* color */
.bg-primary {
    background: #297eba;
}

.bg-secondery {
    background: #1E293B;
}

.bg-accent {
    background: #3c6b92;
}

.text-accent {
    color: #202fb5;
} 

nav li a {
    @apply px-4 py-5 text-lg;
}

nav li a:hover {
    color: #7477FF;
}

.mobile-nav {
    @apply block md:hidden fixed top-10 py-2 w-28 h-44 bg-cyan-700 duration-500;
} 